@import "./var.scss";

.footer{
    background-color: #353535;
    color: $blanc;
    font-family: $policetexte;
}

.footer h4 {
    font-family: $policetitre;
    padding: 20px 0px 0px 20px;
    margin: 0px;
}

.footer a{
    color: $blanc;
    text-decoration: none;
    padding: 20px 0px 18px 20px;
}

.grisfonce{
    height: 200px;
    background-color: #353535;
}