@mixin flexcentre {
        display: flex;
        justify-content: center;
        align-items: center;
    }    

@mixin textenoir {
    text-decoration: none;
    color: black;
}

@mixin textegras {
    font-weight: bolder;
}