@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (min-width: 1024px) {
  .restaurants h3 {
    padding: 50px 0 10px 20px;
    font-size: 2.2em;
    text-align: center;
  }
}

.static-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  font-family: "Shrikhand";
  height: 65px;
  font-size: 220%;
  -webkit-box-shadow: 0 2px 4px #cecece;
          box-shadow: 0 2px 4px #cecece;
}

.arrow {
  position: absolute;
  left: 15px;
  top: 30%;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
}

.arrow:hover {
  color: #7e7e7e;
}

.under-header {
  font-family: "Roboto";
  background-color: #eaeaea;
}

.location {
  background-color: #eaeaea;
  height: 50px;
  margin: 0 20px;
}

.location .fas {
  margin-bottom: 2px;
  padding-right: 5px;
}

.reservation {
  background-color: #f6f6f6;
}

.reservation h1 {
  margin-top: 0;
  padding-top: 50px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}

.reservation h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 1.2em;
  margin: 0px 20px;
}

.bouton {
  text-align: center;
  padding-bottom: 20px;
}

.underheader-menu {
  overflow: hidden;
  height: 280px;
}

.underheader-menu__picture {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

@media screen and (min-width: 1024px) {
  .restaurants h3 {
    padding: 50px 0 10px 20px;
    font-size: 2.2em;
    text-align: center;
  }
}

.bouton a {
  position: relative;
  display: block;
  text-decoration: none;
  width: 220px;
  height: 50px;
  margin: 30px auto;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0 2px 4px #cecece;
          box-shadow: 0 2px 4px #cecece;
  z-index: 1;
  text-align: center;
  padding-top: 15px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: bolder;
}

.bouton a:hover::after {
  opacity: 1;
  -webkit-box-shadow: 0 3px 4px #cecece;
          box-shadow: 0 3px 4px #cecece;
}

.bouton a::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#ff93e1));
  background: linear-gradient(#FF79DA, #ff93e1);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.welcome {
  background: #ffffff;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.splash {
  height: 0px;
  padding: 0px;
  border: 130em solid #99E2D0;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: hide 0s 3.1s forwards, puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
          animation: hide 0s 3.1s forwards, puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  z-index: 2;
  font-family: "Shrikhand";
  font-size: 220%;
}

.splash::before {
  content: "ohmyfood";
  -webkit-animation: hide 0s 2.3s forwards;
          animation: hide 0s 2.3s forwards;
}

#welcome {
  background: #9356DC;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
          animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
}

.welcome header {
  opacity: 0;
  -webkit-animation: moveIn 2s 3.1s ease forwards;
          animation: moveIn 2s 3.1s ease forwards;
}

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 65px;
    height: 65px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 65px;
    height: 65px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: #9356DC;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #99E2D0;
  }
}

@keyframes moveUp {
  0% {
    background: #9356DC;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #99E2D0;
  }
}

@-webkit-keyframes materia {
  0% {
    background: #FF79DA;
  }
  50% {
    background: #FF79DA;
    top: 26px;
  }
  100% {
    background: #9356DC;
    width: 100%;
    height: 79px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes materia {
  0% {
    background: #FF79DA;
  }
  50% {
    background: #FF79DA;
    top: 26px;
  }
  100% {
    background: #9356DC;
    width: 100%;
    height: 79px;
    border-radius: 0px;
    top: 26px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.fonctionnement {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Roboto";
}

.fonctionnement h2 {
  font-size: 1.5em;
  padding: 30px 0px 10px 20px;
}

.tile {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  -webkit-box-shadow: 0 2px 4px #cecece;
          box-shadow: 0 2px 4px #cecece;
}

.tile__circle {
  position: relative;
  margin-left: -10px;
  height: 27px;
  width: 27px;
  background: #9356DC;
  border-radius: 20px;
}

.tile .fas {
  width: 20px;
  height: 20px;
  color: #7e7e7e;
  margin-left: 20px;
  font-size: 120%;
}

.tile__num {
  margin: 4px 0 0 9px;
  color: white;
  font-weight: bolder;
}

.tile__text {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 27px;
  margin: 0;
}

.tile:hover {
  background: #f5edff;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  -webkit-box-shadow: 0 3px 4px #cecece;
          box-shadow: 0 3px 4px #cecece;
}

.tile:hover .fas {
  color: #9356DC;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

@media screen and (min-width: 1024px) {
  .fonctionnement {
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-family: "Roboto";
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tile {
    width: 350px;
  }
}

.restaurants {
  font-family: "Roboto";
  background-color: #f6f6f6;
}

.restaurants h3 {
  padding: 50px 0 10px 20px;
  font-size: 1.5em;
}

.restaurants h4 {
  margin: 15px 0px 10px 15px;
}

.fond-gris {
  background: #f6f6f6;
}

.fond-gris__withbr {
  border-radius: 20px;
}

.bloc-restaurant {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-restaurant {
  margin: 0px 20px;
}

.page-restaurant__title {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  padding-bottom: 15px;
  font-weight: 100;
}

.page-restaurant .fas.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 370px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.page-restaurant .far.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 370px;
  opacity: 1;
}

.rest-prev {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 20px;
  -webkit-box-shadow: 0 2px 4px #cecece;
          box-shadow: 0 2px 4px #cecece;
}

.rest-prev__link {
  text-decoration: none;
  color: black;
}

.rest-prev__card {
  overflow: hidden;
  height: 70%;
}

.rest-prev--cardpicture {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rest-prev__new {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99E2D0;
  border-radius: 2px;
}

.rest-prev__newtext {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: #278870;
  padding: 8px;
}

.rest-prev__location {
  margin: 0px 0px 0px 15px;
}

.hoverheart:hover .fas.fa-heart {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hoverheart:hover .far.fa-heart {
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.fas.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.far.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .tile__circle {
    position: relative;
    margin-left: -10px;
    height: 30px;
    width: 30px;
    background: #9356DC;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurants h3 {
    padding: 50px 0 10px 20px;
    font-size: 2.2em;
    text-align: center;
  }
}

.footer {
  background-color: #353535;
  color: #ffffff;
  font-family: "Roboto";
}

.footer h4 {
  font-family: "Shrikhand";
  padding: 20px 0px 0px 20px;
  margin: 0px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 0px 18px 20px;
}

.page-menu {
  margin-left: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
}

.page-menu__title {
  margin-bottom: 15px;
}

.page-menu__text {
  background-color: #f6f6f6;
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Roboto";
  margin: 20px 0px 8px 10px;
}

.page-menu__line {
  background-color: #99E2D0;
  margin: 0;
  height: 3px;
  width: 40px;
  margin: 0px 0px 0px 10px;
}

.page-menu__bloc {
  margin-bottom: 15px;
  background: white;
  height: 70px;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 4px #cecece;
          box-shadow: 0 2px 4px #cecece;
  position: relative;
  overflow: hidden;
}

.page-menu__bloc:hover .page-menu__recetteetprix {
  width: calc(100% - 65px);
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
}

.page-menu__bloc:hover .page-menu__check {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.page-menu__bloc:hover .fas.fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: rotate .5s ease-in-out;
  transition: rotate .5s ease-in-out;
}

.page-menu__plat {
  margin: 15px 0px 5px 15px;
}

.page-menu__recetteetprix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  width: 100%;
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.page-menu__accompagnement {
  font-size: 0.85em;
  padding-left: 15px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-menu__prix {
  margin: 0;
  font-weight: bold;
  padding-left: 10px;
  width: 50px;
}

.page-menu__check {
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65px;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  border-radius: 0px 20px 20px 0px;
  -webkit-transform: translateX(65px);
          transform: translateX(65px);
  overflow: hidden;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.page-menu .fas.fa-check-circle {
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 1.5rem;
  color: white;
  opacity: 1;
}

.page-menu > :nth-of-type(1) {
  -webkit-animation: SlideDown 0.5s ease-in-out;
          animation: SlideDown 0.5s ease-in-out;
}

.page-menu > :nth-of-type(2) {
  -webkit-animation: SlideDown 1s ease-in-out;
          animation: SlideDown 1s ease-in-out;
}

.page-menu > :nth-of-type(3) {
  -webkit-animation: SlideDown 1.5s ease-in-out;
          animation: SlideDown 1.5s ease-in-out;
}

.page-menu > :nth-of-type(4) {
  -webkit-animation: SlideDown 2s ease-in-out;
          animation: SlideDown 2s ease-in-out;
}

@-webkit-keyframes SlideDown {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes SlideDown {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .bloc-restaurant {
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    -ms-flex-pack: distribute;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .rest-prev {
    position: relative;
    background: white;
    height: 350px;
    width: 40%;
    border-radius: 20px;
    margin: 20px;
    -webkit-box-shadow: 0 2px 4px #cecece;
    box-shadow: 0 2px 4px #cecece;
  }
  .page-restaurant__title {
    font-family: "Shrikhand";
    font-size: 2rem;
    padding-bottom: 15px;
    font-weight: 100;
    text-align: center;
  }
  .page-menu {
    margin: 0px 15px 15px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    padding-right: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    font-family: "Roboto";
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .page-menu__text {
    background-color: #f6f6f6;
    font-size: 1.5em;
    font-weight: 100;
    font-family: "Roboto";
    margin: 20px 0px 8px 100px;
  }
  .page-menu__line {
    background-color: #99E2D0;
    margin: 0;
    height: 3px;
    width: 65px;
    margin: 0px 0px 0px 100px;
  }
  .page-menu__bloc {
    margin-bottom: 15px;
    margin-left: 25px;
    background: white;
    height: 87px;
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 4px #cecece;
    box-shadow: 0 2px 4px #cecece;
    position: relative;
    overflow: hidden;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.static-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */